@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:Arial, Helvetica, sans-serif
}
:root{
    --corbase:#284CEB;
    --cormaisbase:#4158C0;
    --cor3:#4B5996;
    --cor4:#484E6B;
    --cor5:#363841;
    --cormaisescura:#292B33;   
    --corminhafoto:#f0f0f0;
}

.principal{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
main p{
    font-size: 1.2em;
    line-height: 1.4em;
}
nav{
    padding: 10px;
}
nav>a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    position: relative;
}
nav>a::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
nav>a:hover::after{
    width: 100%;
}
#primeiro{
    background-size: cover;
    background-image: url(Imagens/background/fundomaior.jpg);
    margin: 0;
    padding: 0;
    color: white;
}
#quemsou{
    background-color: #4b59968c;
    margin:auto;
    padding: 35px;
    width: 65%;
    text-align: center;
    border-radius: 20px;
}
.social {
    margin: 15px;
    display: flex;
    justify-content:center ;
}
.social a {
    margin-right: 20px; /* Adiciona margem à direita de cada link */
}

/* Estiliza a imagem das redes sociais */
.social img {
    width: 40px; /* Ajusta o tamanho da imagem conforme necessário */
}

#sobremim{
    display: flex;
    align-items: center;
    background-color: var(--corminhafoto);
}
#conteudo{
    padding: 30px;
}
#titulocont{
    justify-content: center;
}
#imgeu img{
    max-width: 100vw; /* Largura máxima igual à largura da viewport */
}
#final{
    background-color: var(--cormaisescura);
    color: white;
}